/* .form-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box {
  width: 100%;
  max-width: 450px;
  background: #f3f4f6;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #9ca3af;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
} */
