.navbar {
  display: flex;
  justify-content: space-between;
  background: #1f2937;
  padding: 15px 30px;
  align-items: center;
}

.navbar-logo a {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
